@tailwind base;
@tailwind components;
@tailwind utilities;
/* bg-gradient-to-r from-indigo-500 to-purple-600 */
@layer utilities {
  .text-primary-gradient {
    background: linear-gradient(
        106.62deg,
        rgb(232, 78, 56) 6.68%,
        rgb(186, 44, 184) 82.69%
      )
      padding-box text;
    @apply bg-clip-text text-transparent leading-tight;
  }
  .title-chip {
    @apply text-lg capitalize py-2 px-8 tracking-tight font-bold border border-black rounded-xl border-b-8;
  }
  .text-description {
    @apply text-slate-500 text-sm leading-loose;
  }

  .description-sub-heading {
    @apply decoration-dashed underline text-base font-semibold text-slate-800;
  }

  .description-section {
    @apply flex flex-col mt-32 gap-8 lg:flex-row justify-between my-12;
  }

  .description-heading {
    @apply text-lg capitalize tracking-tighter font-bold;
  }

  .primary-chip {
    @apply bg-gradient-to-r from-indigo-500 to-purple-600 bg-clip-text text-transparent text-base capitalize font-light leading-loose border border-violet-500 border-b-4 rounded-full px-5 py-0.5;
  }

  .secondary-chip {
    @apply text-sm text-slate-600  capitalize font-light leading-loose border border-black border-b-4 rounded-full px-5 py-1;
  }

  .black-chip {
    @apply text-3xl font-extrabold leading-tight tracking-tighter py-2 px-4 inline-block border border-b-8 border-slate-800 rounded-xl;
  }

  .project-heading {
    @apply text-5xl inline-block tracking-tight font-bold pb-2 mb-10 border-b border-black;
  }

  .work-section-container {
    @apply flex-col gap-8 flex mt-16 mb-32 bg-white lg:flex-row justify-between py-4  transition-all;
  }

  .work-exp-prose {
    @apply text-slate-600 prose prose-slate prose-h3:font-semibold prose-h3:underline prose-h3:text-base prose-h3:decoration-dashed;
  }
}

.bg-blur {
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.6);
}

@media (width < 550px) {
  .org-chart-iframe {
    height: 300px;
  }
}

.temp {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}

.temp:hover {
  transform: translate3d(0px, -10px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}

.shadow-primary-gradient::after {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(
    106.62deg,
    rgba(232, 78, 56, 0.15) 6.68%,
    rgba(186, 44, 184, 0.15) 82.69%
  );
  filter: blur(8px);
  z-index: -1;
  border-radius: 18px;
}

.bg-primary-dark-gradient {
  background: linear-gradient(
    288deg,
    #16669b 0%,
    #135988 35%,
    #07456f calc(35% + 1px),
    #07456f 45%,
    #07456f calc(45% + 1px),
    #07456f 65%,
    #0f0a3c calc(65% + 1px),
    #0f0a3c 100%
  );
}
.bg-primary-gradient {
  background: linear-gradient(
    288deg,
    #e7efed 0%,
    #e7efed 35%,
    #fbeff0 calc(35% + 1px),
    #fbeff0 45%,
    #fbeff0 calc(45% + 1px),
    #fbeff0 65%,
    #f1f5f9 calc(65% + 1px),
    #f1f5f9 100%
  );
}
